* {
  font-family: 'Francois One', sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
  max-width: 400px;
  border: 5px solid red;
  background-color: white;
  margin-left: 300px;
}

div {
  text-align: center;
  margin: 0 200px;
}

.secondp {
  clear: right;
  position: absolute;
  padding: 5px;
  margin-left: 330px;
  width: 300px;
  border: 5px solid red;
  background-color: white;
  margin-bottom: 100px;
}

.intro {
  font-size: 19px;
  background-color: white;
  margin-bottom: 10px;
  border: 5px solid red;
}

#archduke {
  float: left;
}

#hand {
  float: right;
  background-color: white;
  overflow: hidden;
  height: 210px;
}

img {
  height: 200px;
  width: 200px;
  position: relative;
  border: 5px solid red;
}

.form {
  border: 5px solid red;
  background-color: white;
  margin-left: 325px;
  clear: both;
  width: 300px;
}